moz-any-link {
    background-color: #080f0f;
    background-color: #a4bab7;
    background-color: #a3320B;
    background-color: #fffffa;
    background-color: #515052;
}

moz-any-link {
    background-color: #080f0f;
    background-color: #a4bab7;
    background-color: #f15025;
    background-color: #ffffff;
    background-color: #e6e8e6;
}

moz-any-link {
    background-color: #1e2d24;
    background-color: #56380f;
    background-color: #dcdcdd;
    background-color: #c7cedb;
    background-color: #a0aab2;
}